.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:1rem 0 1rem 0;
    text-align: center;
    width: 7rem;
    height: 5rem;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    h4{
        padding: 1rem;
        margin: 0;   
    }
    
    img{
        width: 5rem;
        height: 5rem;
        margin: 1rem;
    }

}