.card_food {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:2rem 1rem 2rem 1rem;
    text-align: center;
    width: auto;
    height: auto;
    align-items: center;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    h4{
        padding: 1rem;
        margin: 0;   
    }
    p{
        padding: 1rem;
        margin: 0;   
    }
    
    img{
        width: 15rem;
        height: 15rem;
        margin: 1rem;
    }
    .star_color{
        color: gold;
    }

}