.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    background-color: white;

    &__link{
        text-decoration: none;
    }

    p{
        color :  rgb(216, 103, 11);
        font-size: 2rem;
    }
}